# Ignore compiled Python files
__pycache__/


# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
chatbot.zip

# Ignore virtual environments (if applicable)
venv/
env/


# Ignore other unnecessary temporary files
*.tmp
*.bak
*.swp
